@import "components/components";

.ng-scope {
    height: none !important;
}

.app {
    width: 100%;
    height: 100%;
    // background-color: $lightBgColor;
}

html {
    @include WH(100%,100%);
}

body {
    @include WH(100%,100%);
    background: #d9d9d9;
    margin: 0;
    font: 62.5% 'Roboto', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
