<div class="home-wraper" id='home-wraper'>
  <div class="home-main" ng-init='$ctrl.callOnLoad()' id="main">
    <header
        is-forward = 'false',
        is-user-information = 'false',
        is-cancel = 'true',
        type-page = 'default'
    >
    </header>
    <datePicker></datePicker>
    <search searcheable-name="$ctrl.searcheableName"></search>
    <user-list class="recent-users" user-list="$ctrl.bi" user-list-tittle="{{::$root.APP.translates.recentUserListTittle}}" searcheable-name="$ctrl.searcheableName"></user-list>
    <user-list class="all-users" user-list="$ctrl.all" user-list-tittle="{{::$root.APP.translates.simpleUserListTittle}}" searcheable-name="$ctrl.searcheableName"></user-list>
      <div class="spiner" ng-if="$ctrl.isShowSpiner">
        <img src="../../images/spiner.gif" alt="spiner">
      </div>
    <div class="self-button">
      <div class="self-button__text">{{::$root.APP.translates.selfButtonText}}</div>
    </div>
  </div>
</div>
