@import "../../common/general-mixins";

.home-wraper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    .home-main {
        width: 100%;
        min-height: 100%;
        background: white;
        position: relative;
        background: #d9d9d9;

        .spiner {
            background: #d9d9d9;
            margin-top: -1px;
            padding-bottom: 70px;
            justify-content: center;
            display: flex;
            img {
                @include WH(50px,50px);
            }
        }

        .recent-users {
            display: block;
            background: #bdd7ee;
        }

        .all-users {
            display: block;
            background: #d9d9d9;
        }

        .self-button {
            @include WH(100%,50px);
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #85fb65;

            &__text {
                font-size: 18px;
                color: black;
            }
        }
    }
}
