<div class="info-container" ng-init="$ctrl.callOnLoad()">
  <wy-time-picker
    class="app-time-picker"
    data-dropdown-toggle-state="$ctrl.settings.dropdownToggleState"
    data-time-settings="$ctrl.settings.time"
    data-theme="$ctrl.settings.theme"
    data-no-range="$ctrl.settings.noRange"
    data-format="$ctrl.settings.format"
    data-no-validation="$ctrl.settings.noValidation"
    data-apply-callback="$ctrl.onApplyTimePicker($ctrl.settings.time)"
    data-clear-callback="$ctrl.onClearTimePicker()"></wy-time-picker>
  <date-picker ng-click="$event.stopPropagation()" ng-show="$ctrl.isDatePicker" class="date-container" ng-model="$ctrl.date" format-date="formatDate" parse-date="parseDate"></date-picker>
  <div class="time-container" ng-show="!$ctrl.isOpenDate" ng-click="$ctrl.dateOn()">{{$ctrl.urlData.date}}</div>
  <input ng-click="$event.stopPropagation()" ng-show="$ctrl.isOpenDate" value="{{$ctrl.urlData.date}}" ng-blur="$ctrl.setDate()" ng-model="$ctrl.date">
</div>
