@import "../../common/general-mixins";

.info-container {
    width: 100%;
    height: 50px;
    background: #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    .app-time-picker {
        color: white;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;

        .angular-time-picker-theme {
            [ng-click="resetToOriginalTimeSettings()"],
            [ng-show="!noRange"] {
                display: none;
            }
        }

        .angular-time-picker-caret {
            display: none;
        }

        .angular-time-picker-button {
            background: #bfbfbf;
            color: white;
            border: 0;
        }
    }

    .time-container {
        color: white;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        height: 20px;
    }

    .date-container {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 110px;
        right: 0;
        z-index: 10;
        height: 275px;
    }

    input {
        border: none;
        background-color: #bfbfbf;
        color: white;
        font-size: 18px;
        width: 100px;
        height: 30px;
    }
}
