@import "../../common/general-mixins";

.procedure-main-warper {
    @include WH(100%,100%);
    background: #d9d9d9;
    overflow-y: scroll;
    overflow-x: hidden;

    .procedure-main {
        @include WH(100%,auto);
        background: #d9d9d9;

        .procedure-recent-title {
            text-align: center;
            font-size: 12px;
            margin: 15px 0;
        }

        .selected-procedure-list {
            @include WH(100%, auto);

            .selected-items {
                @include WH(100%,35px);
                padding-left: 10px;
                background: #17c2ea;
                font-size: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 3px;

                .cancel-procedure-button {
                    @include WH(30px,30px);
                    @include before();
                    background: white;
                    border-radius: 50%;
                    text-align: center;

                    &__plus {
                        @include inlineMidle();
                        // margin: 0 10px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #17c2ea;
                    }
                }

                .selected-items-text {
                    @include WH(85%,35px);
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    align-items: center;

                    &__left-content {
                        margin-left: auto;
                        display: flex;
                        justify-content: space-between;
                        flex-basis: 45%;
                    }
                }
            }
        }

        .recent-procedure-list {
            width: 100%;
            height: auto;
            background: #d9d9d9;
            display: flex;
            flex-wrap: wrap;

            .recent-item {
                width: 100px;
                height: 40px;
                max-width: 100px;
                max-height: 40px;
                background: #a0a0a0;
                margin: 5px;

                &__name {
                    text-align: center;
                    font-size: 14px;
                    height: 17px;
                    font-weight: bold;
                    margin-top: 5px;
                    overflow: hidden;
                }

                .recent-item-text {
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                }
            }
        }

        .procedure-all-title {
            text-align: center;
            font-size: 12px;
            margin: 15px 0;
        }

        .all-procedure-list {
            @include WH(100%, auto);
            padding-left: 10px;

            .all-items {
                @include WH(100%,35px);
                margin: 10px 0;
                font-size: 0;
                display: flex;
                justify-content: space-between;

                .add-procedure-button {
                    @include WH(30%,100%);
                    @include before();
                    background: white;
                    border: 2px solid black;
                    border-radius: 50px;

                    &__name {
                        @include inlineMidle();
                        font-size: 16px;
                    }

                    &__plus {
                        @include inlineMidle();
                        margin: 0 10px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .all-items-text {
                    @include WH(70%,35px);
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    align-items: center;

                    &__left-content {
                        margin-left: auto;
                        display: flex;
                        justify-content: space-between;
                        flex-basis: 60%;
                    }
                }
            }
        }
    }
}
