<div class="procedure-main-warper">
  <div class="procedure-main" ng-init='$ctrl.callOnLoad()'>
    <header
        is-forward = 'true',
        is-user-information = 'true',
        is-cancel = 'true',
        type-page = 'default'
    >
    </header>
    <datePicker></datePicker>
    <div class="selected-procedure-list">
      <div class="selected-items" ng-repeat="item in $ctrl.selectedList">
        <div class="cancel-procedure-button" ng-click="$ctrl.removeProcedure(item.id,item.time)">
          <div class="cancel-procedure-button__plus">
            X
          </div>
        </div>
        <div class="selected-items-text">
          <span>{{item.price}}</span>
          <div class="selected-items-text__left-content">
            <span>{{item.time}}</span>
            <span>{{item.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <search searcheable-name="$ctrl.searcheableName"></search>
    <div class="procedure-recent-title">
      {{::$root.APP.translates.quickProcedureText}}
    </div>
    <div class="recent-procedure-list">
      <div class="recent-item" ng-repeat="item in $ctrl.procedureList.bi" ng-click="$ctrl.selectProcedure(item.id, item.price, item.time, item.shortName)">
        <div class="recent-item__name">{{item.shortName}}</div>
        <div class="recent-item-text">
          <span>{{item.price}}</span>
          <span>{{item.time}}</span>
        </div>
      </div>
    </div>
    <div class="procedure-all-title">
      {{::$root.APP.translates.allProcedureText}}
    </div>
    <div class="all-procedure-list">
      <div class="all-items" ng-repeat="item in $ctrl.procedureList.all">
        <div class="add-procedure-button" ng-click="$ctrl.selectProcedure(item.id, item.price, item.time, item.shortName)">
          <div class="add-procedure-button__plus">
            +
          </div>
          <div class="add-procedure-button__name">
            Add
          </div>
        </div>
        <div class="all-items-text">
          <span>{{item.price}}</span>
          <div class="all-items-text__left-content">
            <span>{{item.time}}</span>
            <span>{{item.shortName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
