@import "../../common/general-mixins";

.comment-main {
    @include WH(100%,auto);

    .comment-title {
        text-align: center;
        font-size: 14px;
        margin: 15px 0;
        font-weight: bold;
    }

    .comment {
        @include WH(100%, 75px);
        display: flex;
        align-items: center;
        justify-content: center;

        &__text {
            @include WH(85%, 100%);
            resize: none;
        }
    }
}
