<div class="comment-main">
  <div class="comment-title">
      Leave your comments
  </div>
  <div class="comment">
      <textarea class="comment__text" ng-keypress="$ctrl.pressEnter($event)" ng-model = "$ctrl.areaText"></textarea>
  </div>
</div>
