<div class="search" ng-init='$ctrl.callOnLoad()'>
  <div class="search-button">
    <div class="search-button__text">{{::$root.APP.translates.searchButtonText}}</div>
  </div>
  <div class="search__input">
    <input type="text" ng-change="$ctrl.makeSearch()" placeholder="{{::$root.APP.translates.placeholderSearchUser}}" ng-model="$ctrl.searcheableName" ng-model-options="{debounce: $root.APP.debounceTime}">
    <img src="images/glass.png">
  </div>
</div>
