@import "../../common/general-mixins";

.search {
    @include WH(100%, 60px);
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

    .search-button {
        @include WH(20%,70%);
        @include before();
        background: #a6a6a6;
        text-align: center;

        &__text {
            @include inlineMidle();
            font-size: 18px;
            color: white;
        }
    }

    &__input {
        @include WH(60%,70%);
        position: relative;

        input {
            @include WH(100%,100%);
            padding: 0 0 0 10px;
            border: 1px solid #7f7f7f;
            font-size: 18px;
            color: #d9d9d9;
        }

        img {
            @include WH(20px,20px);
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(-50%,-50%);
        }
    }
}
