<div class="procedure-main-warper">
  <div class="procedure-main" ng-init='$ctrl.callOnLoad()'>
    <header
        is-forward='true',
        is-user-information='true',
        is-cancel='true',
        type-page = 'last'>
    </header>
    <datePicker></datePicker>
    <div class="selected-procedure-list">
      <div class="selected-items" ng-repeat="item in $ctrl.selectedList">
        <div class="cancel-procedure-button" ng-click="$ctrl.removeProcedure(item.id,item.time)">
          <div class="cancel-procedure-button__plus">
            X
          </div>
        </div>
        <div class="selected-items-text">
          <span>{{item.price}}</span>
          <div class="selected-items-text__left-content">
            <span>{{item.time}}</span>
            <span>{{item.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="procedure-sum" ng-if="$ctrl.selectedList.length > 0">
      <div class="procedure-sum__price">{{$ctrl.finallyPrice}}</div>
      <div class="center">
        <div class="center__plus" ng-click="$ctrl.changeTime(1)">
          +
        </div>
        <div class="center__time">{{$ctrl.summaryTime.hours+":"+$ctrl.summaryTime.minutes}}</div>
        <div class="center__minus" ng-click="$ctrl.changeTime(-1)">
          -
        </div>
      </div>
      <div class="procedure-sum__text">dfs</div>
    </div>
    <comment-area></comment-area>
  </div>
