@import "../../common/general-mixins";

.procedure-main-warper {
    @include WH(100%,100%);
    background: #d9d9d9;
    overflow-y: scroll;
    overflow-x: hidden;

    .procedure-main {
        @include WH(100%,auto);
        background: #d9d9d9;

        .procedure-sum {
            @include WH(100%, 35px);
            background: #064ffb;
            padding: 0 10px 0 70px;
            display: flex;
            margin-top: 3px;
            color: white;

            &__price {
                @include WH(100%, 100%);
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .center {
                @include WH(100%, 100%);
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;

                &__plus {
                    padding-top: 3px;
                    min-width: 20px;
                    max-width: 20px;
                    max-height: 20px;
                    min-height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 2px solid white;
                    font-size: 22px;
                    color: white;
                }

                &__time {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: white;
                }

                &__minus {
                    padding-bottom: 1px;
                    min-width: 20px;
                    max-width: 20px;
                    max-height: 20px;
                    min-height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 2px solid white;
                    font-size: 22px;
                    color: white;
                }
            }

            &__text {
                @include WH(100%, 100%);
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}
