@import "../../common/general-mixins";

.user-container {
    text-align: center;
    font-size: 18px;

    &__title {
        padding-top: 10px;
        width: 100%;
        color: black;
    }

    .list-users {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        &--all {
            flex-direction: column;
        }

        .person-all {
            max-width: 100%;
            max-height: 93px;
            margin: 10px;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__avatar {
                @include WH(75px,75px);
                border-radius: 50%;

                img {
                    @include WH(100%,100%);
                    border-radius: 50%;
                }
            }
            &-text {
                font-size: 14px;
                margin-right: 5%;
                text-align: right;
                span {
                    font-weight: bold;
                }
            }
        }

        .person {
            max-width: 75px;
            max-height: 93px;
            margin: 10px;
            overflow: hidden;

            &__avatar {
                @include WH(75px,75px);
                border-radius: 50%;

                img {
                    @include WH(100%,100%);
                    border-radius: 50%;
                }
            }

            &__text {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
