<div class="user-container" ng-init='$ctrl.callOnLoad()'>
  <div class="user-container__title">{{$ctrl.userListTittle}}</div>
  <div class="list-users" ng-class="{'list-users--all': $ctrl.isAllUsers}">
    <div ng-if="!$ctrl.isAllUsers" class="person" ng-click="$ctrl.goToProcedure(item.customerId, item.fullName, item.phone)" ng-repeat="item in $ctrl.userList" track by $index>
      <div class="person__avatar">
        <img fallback-src="{{::$root.APP.defaultUrl}}" src="{{::$root.APP.imgUrl}}">
      </div>
      <span class="person__text">{{item.fullName}}</span>
    </div>
    <div ng-if="$ctrl.isAllUsers" class="person-all" ng-click="$ctrl.goToProcedure(item.customerId, item.fullName, item.phone)" ng-repeat="item in $ctrl.userList" track by $index>
      <div class="person-all-text">
        <span>{{item.fullName}}</span>
      </br>
      {{item.phone}}
    </div>
    <div class="person-all__avatar">
      <img fallback-src="{{::$root.APP.defaultUrl}}" src="{{::$root.APP.imgUrl}}">
    </div>
  </div>
</div>
</div>
