@import url('http://fonts.googleapis.com/css?family=Roboto');
@import ".././common/general-mixins";
$primaryColor: #0277bd;
$accentColor: #1de9b6;
$bgColor: #efefef;
$darkBgColor: #263238;
$lightBgColor: #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor: #212121;
