@import 'angular-date-picker';
@import 'angular-time-picker.min';

@mixin WH($width, $height) {
    width: $width;
    height: $height;
}
@mixin inlineMidle() {
    display: inline-block;
    vertical-align: middle;
}
@mixin before() {
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}
