<div class="swipe-main" ng-init="$ctrl.onLoadPage()">
  <div class="swipe-train" ng-style="$ctrl.styleTrain">
    <div class="swipe-carriage" ng-repeat="item in $ctrl.listOfPages"></div>
  </div>
</div>
