@import "../../common/general-mixins";

.headerProcedure {
    @include WH(100%, auto);
    background: #f2f2f2;
    border-bottom: 1px solid #7f7f7f;
    align-items: center;
    display: flex;
    padding: 0 2%;
    flex-wrap: wrap;

    .middle-section {
        width: 35%;
        margin: auto;
        font-size: 18px;
        text-align: center;

        &__text {
            width: 100%;
            height: 20px;
            overflow: hidden;
            font-size: 17px;
            color: black;
        }
    }

    .forward-button {
        @include WH(26%,60px);
        @include before();
        background: green;
        margin-right: auto;
        font-size: 18px;
        text-align: center;

        &__texted {
            @include inlineMidle();
            overflow: hidden;
            font-size: 14px;
            color: white;
        }
    }

    .cancel-button {
        @include WH(26%,60px);
        @include before();
        background: red;
        margin-left: auto;
        font-size: 18px;
        text-align: center;

        &__text {
            @include inlineMidle();
            overflow: hidden;
            font-size: 14px;
            color: white;
        }
    }

    .notification {
        flex-basis: 100%;
        padding: 20px;
        text-align: center;
    }
}
