<div class="headerProcedure" ng-init='$ctrl.callOnLoad()'>
  <div class="forward-button" ng-if="$ctrl.isForward" ng-click="$ctrl.forward()">
    <div class="forward-button__texted">{{::$ctrl.leftButtonText}}</div>
  </div>
  <div class="middle-section" ng-if="$ctrl.isUserInformation">
    <div class="middle-section__text">
      {{$ctrl.curentUser.name}}
    </div>
    <div class="middle-section__text">
      {{$ctrl.curentUser.phone}}
    </div>
  </div>
  <div class="cancel-button" id="cancel" ng-if="$ctrl.isCancel" ng-click="$ctrl.cancel()">
    <div class="cancel-button__text">{{::$ctrl.rightButtonText }}</div>
  </div>
  <div class="notification" ng-if="$root.APP.notification.status">
      {{$root.APP.translates.notification[$root.APP.notification.name]}}
  </div>
</div>
